body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: .75em;
    font-family: 'Times New Roman', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://static.vecteezy.com/system/resources/thumbnails/041/758/369/small_2x/ai-generated-bookish-arrangement-books-stacked-on-a-table-providing-copy-space-vertical-mobile-wallpaper-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    /* Adjust opacity for transparency */
    z-index: -1;
    /* Make sure it's behind the body content */
}

.para {
    text-align: justify;
}

#title {
    color: rgb(97, 74, 23);
    text-transform: capitalize;

}

.subtitle {
    color: rgb(156, 111, 13);
    text-transform: capitalize;
}

#google-link:link {
    color: blue;
}

#google-link:visited {
    color: green;
}

#book-image {
    width: 100%;
    height: 80vh;
    border: 5px solid rgba(59, 34, 34, .6);
    animation-name: image-trans;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#google-link {
    font-size: 1.25em;
}

.image {
    width: 30%;
    height: 30vh;
    /* display: inline-block; */

    float: inherit;

}

.container {

    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

.container-item {
    font-family: 'Times New Roman', sans-serif;
    background: radial-gradient(circle at center, rgba(51, 30, 30, 0.6), rgba(90, 62, 62, 0.6));
    color: azure;
    font-size: 1.15em;
    text-align: center;
    width: 20%;
    line-height: 1.5;
    margin: 10px;
    flex-grow: 1;

}

.grid-container {
    height: 40%;
    margin: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    background: rgb(136, 119, 119);
    animation-name: grid-back;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 6;
    animation-direction: alternate;

}

.grid-item {


    text-align: center;
    width: 25%;
    line-height: 1.5;
    margin: 10px;

}

.submit-button {
    width: auto;
    height: auto;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    color: white;
    background: blue;
    cursor: pointer;
    transition: background 500ms ease-in-out;
    transform: scale(1);

}

.submit-button:hover {
    background: steelblue;

}

.form {
    width: auto;
    margin: 10px auto;
    padding: 5px;
    border-radius: 4px;
    height: 30%;
}



@keyframes image-trans {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(2.5px, 2.5px);
    }

    100% {
        transform: translate(5px, 5px);
    }

}

@keyframes grid-back {
    0% {
        background: rgb(212, 208, 208);
        transform: translate(0px, 0px);

    }

    50% {
        background: rgb(187, 149, 149);
        transform: translate(5px, 5px);
    }

    100% {
        background: rgb(139, 114, 114);
        transform: translate(10px, 10px);
    }
}